<h1 mat-dialog-title>Register</h1>
<div mat-dialog-content>
  <form [formGroup]="registerForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="username" matInput placeholder="Name" />
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Email" />
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput placeholder="Password" />
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>You are</mat-label>
      <mat-select formControlName="role" matInput placeholder="">
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{role.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>

</div>


<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px" mat-raised-button color="primary" (click)="onSubmit()">Register</button>
</div>
